<p>padre works!</p>
<span class="p-float-label">
    <input id="float-input" type="text" pInputText> 
    <label for="float-input">Username</label>
</span>

<input [(ngModel)]="input">

<form [formGroup]='formUsuario' (ngSubmit)='enviarDatos()'>
    <input type="text" formControlName='nombre'>
    <input type="text" formControlName='apellido'>
    <input type="text" formControlName='telefono'>
    <input type="text" formControlName='email
    
    '>
    <button [disabled]="formUsuario.invalid">Enviar</button>
</form>

<p-calendar [(ngModel)]="value"></p-calendar>

<app-hijo [recibido]="mensaje"></app-hijo>

<input [(ngModel)]="input">
